<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand " href="#">
    <img src="../assets/SE.png" width="100" height="31" class="d-inline-block align-top" alt="">
    Profile
  </a>
</nav>
<ngb-tabset type="pills">
  <ngb-tab title="Home">
    <ng-template ngbTabContent>
      <div class="container">
        <blockquote>As technology continues to dominate today's business world, 
          companies are turning to more advanced software systems and highly skilled IT service providers for support
           in implementing and strategizing their IT systems that can withstand fast-paced market changes. 
           Systems and Experts, as a software vendor and technology service provider, helps companies address these needs
            with pre-curated software solutions that can deliver the most value to their organizations and to their clients. 
            Systems and Experts also matches clients with highly qualified technology experts and best-fit strategic IT business 
            partners that can help them achieve their business objectives efficiently and effectively.</blockquote>
          </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><strong>Systems and Experts</strong></ng-template>
    <ng-template ngbTabContent>
      <div class="container">
          <p><ngb-progressbar type="danger" [value]="40" [striped]="true" [animated]="true"><strong>SODEX PROGRESS</strong></ngb-progressbar></p>
          <p><ngb-progressbar type="info" [value]="25" [striped]="true" [animated]="true"><strong>FUMI PROGRESS</strong></ngb-progressbar></p>
          <p><ngb-progressbar type="warning" [value]="15" [striped]="true" [animated]="true"><strong>BLOCKCHAIN PROGRESS</strong></ngb-progressbar></p>
          <p><ngb-progressbar type="success" [value]="30" [striped]="true" [animated]="true"><strong>RPA PROGRESS</strong></ngb-progressbar></p>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Locked Content" [disabled]="true">
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>